<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <link rel="apple-touch-icon image_src" href="apple-touch-icon.png">
   <!-- Primary Meta Tags -->
<title>Fwrd Axis • MLB Playoffs Bracket</title>
<meta name="title" content="Fwrd Axis • MLB Playoffs Bracket" />
<meta name="description" content="Realtime MLB Postseason Standings and Stats, brought to you by MLBShop.com." />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://mlb.fwrdaxis.com/" />
<meta property="og:title" content="Fwrd Axis • MLB Playoffs Bracket" />
<meta property="og:description" content="Realtime MLB Postseason Standings and Stats, brought to you by MLBShop.com." />
<meta property="og:image" content="images/FA-img2.png" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://mlb.fwrdaxis.com/" />
<meta property="twitter:title" content="Fwrd Axis • MLB Playoffs Bracket" />
<meta property="twitter:description" content="Realtime MLB Postseason Standings and Stats, brought to you by MLBShop.com." />
<meta property="twitter:image" content="images/FA-img2.png" />

<!-- Meta Tags Generated with https://metatags.io -->
</head>
<body>
    <div class="container">
        <!-- <h1 class="text-center my-4">MLB Playoffs Bracket</h1> -->
         
        <h1 class="text-center my-4"><img src="images/fwrd-axis-full-V2-light.png" alt="MLB Playoffs" class="header img-fluid mx-auto d-block mb-4"></h1>
        <img src="images/PS.png" alt="MLB Playoffs" class="post img-fluid mx-auto d-block mb-4">
        <div class="ps-section">
        <div class="row">
            <div class="col text-center al-col">
                <!-- <h2>American League</h2> -->
                 <h2><img src="images/AL/AL.png" class="league img-fluid mx-auto d-block mb-4"></h2>
                <div class="bracket">
                    <!-- <h3>Wild Card</h3> -->
                    <h3><img src="images/AL/ALWC.png" class="set img-fluid mx-auto d-block mb-4"></h3>
                    <div class="row">
                        <% bracket.AL.wildCard.forEach(team => { %>
                            <div class="col team1 team-w">
                                <div class="team">
                                    <img src="<%= team.logo %>" alt="<%= team.team %> Logo">
                                    <span class="seed"><%= team.seed %></span> &nbsp;•&nbsp; <span class="games"><%= team.team %></span>
                                </div>
                            </div>
                        <% }); %>
                        <% bracket.AL.wildCardA.forEach(team => { %>
                            <div class="col team1">
                                <div class="team">
                                    <img src="<%= team.logo %>" alt="<%= team.team %> Logo">
                                    <span class="seed"><%= team.seed %></span> &nbsp;•&nbsp; <span class="games"><%= team.team %></span>
                                </div>
                            </div>
                        <% }); %>
                        <% bracket.AL.wildCard2.forEach(team => { %>
                            <div class="col  team-w-2">
                                <div class="team">
                                    <img src="<%= team.logo %>" alt="<%= team.team %> Logo">
                                    <span class="seed"><%= team.seed %></span> &nbsp;•&nbsp; <span class="games"><%= team.team %></span>
                                </div>
                            </div>
                        <% }); %>
                        <% bracket.AL.wildCard2A.forEach(team => { %>
                            <div class="col team2">
                                <div class="team">
                                    <img src="<%= team.logo %>" alt="<%= team.team %> Logo">
                                    <span class="seed"><%= team.seed %></span> &nbsp;•&nbsp; <span class="games"><%= team.team %></span>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                    <!-- <h3>Division</h3> -->
                    <h3><img src="images/AL/ALDS.png" class="set img-fluid mx-auto d-block mb-4"></h3>
                    <div class="row">
                        <% bracket.AL.division.forEach(team => { %>
                            <div class="col team1">
                                <div class="team">
                                    <img src="<%= team.logo %>" alt="<%= team.team %> Logo">
                                    
                                    <span class="seed"><%= team.seed %></span> &nbsp;•&nbsp; <span class="games"><%= team.team %></span>
                                   
                                </div>
                    
                            </div>
                        <% }); %>
                        <% bracket.AL.division2.forEach(team => { %>
                            <div class="col team2">
                                <div class="team">
                                    <img src="<%= team.logo %>" alt="<%= team.team %> Logo">
                                    
                                    <span class="seed"><%= team.seed %></span> &nbsp;•&nbsp; <span class="games"><%= team.team %></span>
                                   
                                </div>
                    
                            </div>
                        <% }); %>
                    </div>
                    <!-- <h3>Championship</h3> -->
                    <h3><img src="images/AL/ALCS.png" class="set img-fluid mx-auto d-block mb-4"></h3>
                    <div class="row">
                        <% bracket.AL.champions.forEach(team => { %>
                            <div class="col team1">
                                <div class="team">
                                    <img src="<%= team.logo %>" alt="<%= team.team %> Logo">
                                    <span class="seed"><%= team.seed %> </span> &nbsp;•&nbsp; <span class="games"><%= team.team %></span>
                                </div>
                            </div>
                        <% }); %>
                        <% bracket.AL.champions2.forEach(team => { %>
                            <div class="col team1">
                                <div class="team">
                                    <img src="<%= team.logo %>" alt="<%= team.team %> Logo">
                                    <span class="seed"><%= team.seed %> </span> &nbsp;•&nbsp; <span class="games"><%= team.team %></span>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                </div>
            </div>
            <div class="col text-center nl-col">
                <!-- <h2>National League</h2> -->
                <h2><img src="images/NL/NL.png" class="league2 img-fluid mx-auto d-block mb-4"></h2>
                <div class="bracket">
                    <!-- <h3>Wild Card</h3> -->
                     <h3><img src="images/NL/NLWC.png" class="set img-fluid mx-auto d-block mb-4"></h3>
                    <div class="row">
                        <% bracket.NL.wildCard3.forEach(team => { %>
                            <div class="col team3">
                                <div class="team">
                                    <img src="<%= team.logo %>" alt="<%= team.team %> Logo">
                                    <span class="seed"><%= team.seed %> </span> &nbsp;•&nbsp; <span class="games"><%= team.team %></span>
                                </div>
                            </div>
                        <% }); %>
                        <% bracket.NL.wildCard3A.forEach(team => { %>
                            <div class="col team3">
                                <div class="team">
                                    <img src="<%= team.logo %>" alt="<%= team.team %> Logo">
                                    <span class="seed"><%= team.seed %> </span> &nbsp;•&nbsp; <span class="games"><%= team.team %></span>
                                </div>
                            </div>
                        <% }); %>
                        <% bracket.NL.wildCard4.forEach(team => { %>
                            <div class="col team4">
                                <div class="team">
                                    <img src="<%= team.logo %>" alt="<%= team.team %> Logo">
                                    <span class="seed"><%= team.seed %> </span> &nbsp;•&nbsp; <span class="games"><%= team.team %></span>
                                </div>
                            </div>
                        <% }); %>
                        <% bracket.NL.wildCard4A.forEach(team => { %>
                            <div class="col  team-w-3">
                                <div class="team">
                                    <img src="<%= team.logo %>" alt="<%= team.team %> Logo">
                                    <span class="seed"><%= team.seed %> </span> &nbsp;•&nbsp; <span class="games"><%= team.team %></span>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                    <!-- <h3>Division</h3> -->
                    <h3><img src="images/NL/NLDS.png" class="set img-fluid mx-auto d-block mb-4"></h3>
                    <div class="row">
                        <% bracket.NL.division3.forEach(team => { %>
                            <div class="col team3">
                                <div class="team">
                                    <img src="<%= team.logo %>" alt="<%= team.team %> Logo">
                                    <span class="seed"><%= team.seed %> </span> &nbsp;•&nbsp; <span class="games"><%= team.team %></span>
                                </div>
                            </div>
                        <% }); %>
                        <% bracket.NL.division4.forEach(team => { %>
                            <div class="col team4">
                                <div class="team">
                                    <img src="<%= team.logo %>" alt="<%= team.team %> Logo">
                                    <span class="seed"><%= team.seed %> </span> &nbsp;•&nbsp; <span class="games"><%= team.team %></span>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                    <!-- <h3>Championship</h3> -->
                    <h3><img src="images/NL/NLCS.png" class="set img-fluid mx-auto d-block mb-4"></h3>
                    <div class="row">
                        <% bracket.NL.champions3.forEach(team => { %>
                            <div class="col team2">
                                <div class="team">
                                    <img src="<%= team.logo %>" alt="<%= team.team %> Logo">
                                    <span class="seed"><%= team.seed %> </span> &nbsp;•&nbsp; <span class="games"><%= team.team %></span>
                                </div>
                            </div>
                        <% }); %>
                        <% bracket.NL.champions4.forEach(team => { %>
                            <div class="col team2">
                                <div class="team">
                                    <img src="<%= team.logo %>" alt="<%= team.team %> Logo">
                                    <span class="seed"><%= team.seed %> </span> &nbsp;•&nbsp; <span class="games"><%= team.team %></span>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <!-- <h2 class="text-center mt-5">World Series</h2> -->
    <div class="ws-section">
        <h2 class="text-center mt-5"><img src="images/WS.png" class="ws img-fluid mx-auto d-block mb-4"></h2>
        <div class="row justify-content-center wc-contain">
            <% bracket.worldSeries.contenders.forEach(team => { %>
                <div class="col text-center team1">
                    <div class="team wc-match">
                        <img class="wc-match" src="<%= team.logo %>" alt="<%= team.team %> Logo">
                        <span class="seed"><%= team.seed %> </span> &nbsp;•&nbsp; <span class="games"><%= team.team %></span>
                    </div>
                </div>
            <% }); %>
            <% bracket.worldSeries.contenders2.forEach(team => { %>
                <div class="col text-center team2">
                    <div class="team wc-match">
                        <img class="wc-match" src="<%= team.logo %>" alt="<%= team.team %> Logo">
                        <span class="seed"><%= team.seed %> </span> &nbsp;•&nbsp; <span class="games"><%= team.team %></span>
                    </div>
                </div>
            <% }); %>
        </div>
        </div>
    </div>
    
    <div class="container mt-5 mlb-shop">
        <h2 class="text-center mb-4"><img src="images/mlbshop.svg" class="img-fluid mlbshop"></h2>
        <h2 class="text-center mb-4 mlb-shop-text">Postseason Exclusives</h2>
        <div class="row">
            <!-- Row 1 -->
            <div class="col-md-2 col-sm-4 mb-4">
                <a href="https://mlbshop.ue7a.net/c/5751618/615943/9676" target="_blank">
                    <img src="images/AL/Yankees.png" class="img-fluid" alt="Yankees Team Gear">
                </a>
            </div>
            <div class="col-md-2 col-sm-4 mb-4">
                <a href="https://mlbshop.ue7a.net/c/5751618/615932/9676" target="_blank">
                    <img src="images/AL/Guardians.png" class="img-fluid" alt="Guardians Team Gear">
                </a>
            </div>
            <div class="col-md-2 col-sm-4 mb-4">
                <a href="https://mlbshop.ue7a.net/c/5751618/615935/9676" target="_blank">
                    <img src="images/AL/Astros.png" class="img-fluid" alt="Astros Team Gear">
                </a>
            </div>
            <div class="col-md-2 col-sm-4 mb-4">
                <a href="https://mlbshop.ue7a.net/c/5751618/615923/9676" target="_blank">
                    <img src="images/AL/Orioles.png" class="img-fluid" alt="Orioles Team Gear">
                </a>
            </div>
            <div class="col-md-2 col-sm-4 mb-4">
                <a href="https://mlbshop.ue7a.net/c/5751618/615936/9676" target="_blank">
                    <img src="images/AL/Royals.png" class="img-fluid" alt="Royals Team Gear">
                </a>
            </div>
            <div class="col-md-2 col-sm-4 mb-4">
                <a href="https://mlbshop.ue7a.net/c/5751618/615934/9676" target="_blank">
                    <img src="images/AL/Tigers.png" class="img-fluid" alt="Tigers Team Gear">
                </a>
            </div>
        </div>
    
        <div class="row">
            <!-- Row 2 -->
            <div class="col-md-2 col-sm-4 mb-4">
                <a href="https://mlbshop.ue7a.net/c/5751618/615938/9676" target="_blank">
                    <img src="images/NL/Dodgers.png" class="img-fluid" alt="Dodgers Team Gear">
                </a>
            </div>
            <div class="col-md-2 col-sm-4 mb-4">
                <a href="https://mlbshop.ue7a.net/c/5751618/615946/9676" target="_blank">
                    <img src="images/NL/Phillies.png" class="img-fluid" alt="Phillies Team Gear">
                </a>
            </div>
            <div class="col-md-2 col-sm-4 mb-4">
                <a href="https://mlbshop.ue7a.net/c/5751618/615940/9676" target="_blank">
                    <img src="images/NL/Brewers.png" class="img-fluid" alt="Brewers Team Gear">
                </a>
            </div>
            <div class="col-md-2 col-sm-4 mb-4">
                <a href="https://mlbshop.ue7a.net/c/5751618/615948/9676" target="_blank">
                    <img src="images/NL/Padres.png" class="img-fluid" alt="Padres Team Gear">
                </a>
            </div>
            <div class="col-md-2 col-sm-4 mb-4">
                <a href="https://mlbshop.ue7a.net/c/5751618/615922/9676" target="_blank">
                    <img src="images/NL/Braves.png" class="img-fluid" alt="Braves Team Gear">
                </a>
            </div>
            <div class="col-md-2 col-sm-4 mb-4">
                <a href="https://mlbshop.ue7a.net/c/5751618/615942/9676" target="_blank">
                    <img src="images/NL/Mets.png" class="img-fluid" alt="Mets Team Gear">
                </a>
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    </div>
</body>

<div class="container mt-5 mlb-shop">
    <center><a class="btn btn-primary text-center" href="https://fwrdaxis.com/sections/sports/mlb/" target="_blank">Back to MLB News</a></center>
</div>
<footer class="footer">
    <div class="container"></div>
        <!-- <h1 class="text-center my-4">MLB Playoffs Bracket</h1> -->
        <h1 class="text-center my-4"><a href="https://fwrdaxis.com" target="_blank"><img src="images/fwrd-axis-full-V2-light.png" alt="MLB Playoffs" class="header img-fluid mx-auto d-block mb-4"></a></h1>
        <p class="text-center my-4">© 2020 - 2024 Fwrd Axis News | All Rights Reserved.</p>
        <!-- <img src="images/PS.png" alt="MLB Playoffs" class="post img-fluid mx-auto d-block mb-4"> -->
        
    </div>
        </footer>
</html>
